{% extends "base.html.twig" %}

{% block body %}

    <div id="main-container">
        <h1 class="sr-only application-heading">Dashboard</h1>

        <h2>{% trans %}500_title{% endtrans %}</h2>

        <p>{% trans %}500_message{% endtrans %}</p>
    </div>

{% endblock %}
