<form class="download-button" action="{{ route ~ "/" ~ active_aspect ~ "/" ~ active_parameter ~ "/" ~ active_question ~ "/" ~ graph.type }}">
    <input type="submit" value="Download" title="Download achterliggende gegevens in CSV"/>
</form>
