<div class="csv-icon">
    <a href="{{ route ~ "/" ~ active_aspect ~ "/" ~ active_parameter ~ "/" ~ active_question ~ "/" ~ graph.type }}">
        <img src="{{ asset('images/csv_icon.png') }}" alt="Download CSV">
    </a>
</div>
