<div class="csv-icon">
    <a href="{{ route ~ "&aspect=" ~ active_aspect ~ "&parameter=" ~ active_parameter ~ "&question=" ~ active_question ~ "&graph=" ~ graph.type }}">
        <img src="csv_icon.png" alt="Download CSV">
    </a>
</div>
