{% extends "base.html.twig" %}

{% block body %}
    <h1>Dashboard</h1>
    <div class="container">
        <div class="center-block provider-div-home">
            <div class="dropdown select-provider">
                <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>{{ provider_name }}</button>
                <ul class="dropdown-menu">
                    {% for provider in providers %}
                        <li><a class="dropdown-item" href="{{ app.request.locale }}/report/{{ provider.identifier }}">{{  provider.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="main-container" class="dashboard-home">
            <div class="row">
                <div class="row0 text-center">
                    <p>The Dashboard analyzes collection metadata of Flemish Museums for Fine and Contemporary Arts. For each museum, the measurement results are digitally visualized in a user friendly way. The reports are meant to provide insights to museum workers about the state of the collection metadata and the impact of their actions on this data.</p>
                </div>
            </div>

             <div class="row">
                <div id="row1">
                    <div class="col-sm-12 col-md-4 col1">
                        <span class="fa icon featured fa-users"></span>
                        <h3>For whom</h3>
                        <p>The Dashboard is an instrument meant to provide museum workers insight in the current state of their own collection metadata and the impact of their actions on this data.</p>
                        <p><a href="/en/manual" class="btn btn-default" role="button">Find out more</a></p>
                    </div>

                    <div class="col-sm-12 col-md-4 col2">
                        <span class="fa icon featured fa-database"></span>
                        <h3>Open data</h3>
                        <p>The Dashboard provides all publicized information as open data. They use open formats and open licenses in order to lower the treshold for reusability of the data as much as possible.</p>
                        <p><a href="/en/open_data" class="btn btn-default" role="button">Find out more</a></p>
                    </div>

                    <div class="col-sm-12 col-md-4 col3">
                        <span class="fa icon featured fa-code-fork"></span>
                        <h3>Open source</h3>
                        <p>The Dashboard uses, as part of the Arthub Flanders platform, open source software. Discuss and expand the code to help this platform grow.</p>
                        <p><a href="/en/open_source" class="btn btn-default" role="button">Find out more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
