{% extends "base.html.twig" %}

{% block body %}
    {% include 'providers.html.twig' %}
    <div id="main-container" class="container">
        <p>{% trans %}manual_description{% endtrans %}</p>
    </div>
{% endblock %}
