# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    service_name: 'Datahub Dashboard'
    service_address: 'info@vlaamsekunstcollectie.be'
    datahub_url: 'http://datahub.vlaamsekunstcollectie.be/oai'
    mongodb_server: mongodb://127.0.0.1:27017/datahub_dashboard
    mongodb_database: datahub_dashboard
    mongodb_user: datahubuser
    mongodb_password: datahubpassword
