
// Colors available
$color0: #ffffff; // White
$color1: #000000; // Black
$color2: #00bce4; // Blue (logo)
$color3: #087d93; // Dark blue
$color4: #fafafa; // Lightest grey
$color5: #e4e4e4; // Lighter grey
$color6: #cccccc; // Grey
$color7: #adadad; // Darker grey
$color8: #5f585d; // Darkest grey (logo)
$color9: #333333; // Text color

// Font-family
$font-family: "Gotham", Helvetica, Arial, sans-serif;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

@import '~bootstrap/dist/css/bootstrap.css';

html {
  position: relative;
  min-height: 100%;
  overflow: scroll;
}

body {
  font-family: $font-family;
  background-color: $color4;
  color: $color9;
}

a {
  color: $color3;
}

a:hover,
a:focus,
a:active {
  color: $color9;
}

.content {
  padding-bottom: 35px;
  margin-bottom: 30px;
}

.content::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 35px;
  background-color: $color5;
}

.footer-content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin-bottom: 0;
  border-style: hidden;
  padding-right: 5px;
}

.container-fluid {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-collapse {
  margin-top: 5px;
}

.navbar-default {
  background: $color2;
}

.navbar-default .navbar-nav > li a {
  color: $color0;
  font-size: 1.25em;
}

.navbar-default .navbar-nav > li.active a {
  color: $color1;
  background-color: transparent;
}

.navbar-default .navbar-nav > li.active a:hover {
  background-color: transparent;
}

.navbar-default .navbar-nav > li a:hover {
  color: $color1;
}

.navbar-default .navbar-nav > li div {
  margin-left: 10px;
}

.navbar-default .navbar-nav > li div a {
  margin-left: 5px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li div {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.navbar-default .navbar-nav > li div a.active {
  color: $color1;
  text-decoration: underline;
}

.navbar-default .navbar-brand {
  padding: 0;
  margin-left: 10px;
  width: 150px;
  height: 50px;
  background: url(../dashboard.png) no-repeat;
  background-size: auto 40px;
  background-position: left center; 
}

@media screen and (max-width: 1155px) {
  .dropdown {
      width: 100% !important;
  }
}

h1 {
  font-size: 63px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.provider-div-home {
  max-width: 1140px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color5;
  border-radius: 4px;
}

.provider-div-home .select-provider {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-default {
  color: $color9;
  border-color: $color6;
}

.select-provider > ul {
  width: 100%;
}

#dropdownMenuButton {
  width: 100%;
  text-align:left;
  background: $color0;
}

#dropdownMenuButton:hover {
  background: $color0;
}

#dropdownMenuButton:active {
  background: $color0;
}

#main-container {
  font-size: 16px;
  width: 1180px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.provider-div-report {
  background-color: $color5;
}

.provider-div-report .select-provider {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none;
}

.print-provider {
  display: none;
  position: absolute;
  top: -20px;
  left: 20px;
}

.left-menu {
  float: left;
  width: 320px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-group-vertical {
  width: 320px;
}

.left-menu-level-one {
  font-size: 20px;
  margin-top: 20px;
}

.not-rounded {
  border-radius: 0 !important;
  width: 100%;
  text-align: left;
  margin-bottom: -1px;
}

.parameter, .parameter:focus {
  background-color: $color5;
  border-color: $color7;
}

.parameter:focus, .question:focus {
  outline: none !important;
  box-shadow: none;
}

.question {
  background-color: $color0;
  color: $color1;
  border-color: $color7;
}

.question-active {
  background-color: $color8;
  color: $color0;
  border-color: $color7;
}

.parameter:hover, .question:hover {
  background-color: $color2;
  color: $color0;
  border-color: $color7;
}

.left-menu > button:hover {
  background-color: $color5;
}

.collapsed-buttons {
  width: 100%;
}

.collapsed-button {
  padding-left: 30px;
}

.caret {
  float: right;
  position: absolute;
  right: 6px;
  margin-top: 6px;
}

.left-menu button[aria-expanded='false'] > .caret {
  transform: rotate(-90deg);
}

#graphs {
  float: right;
  width: 800px;
  border: solid 1px $color5;
  background-color: $color0;
  margin-right: 20px;
}

.graph {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: $color4;
}

.graph p {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.title-div {
  position: relative;
  width: 100%;
  height: 50px;
}

.print-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.description {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.print-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
}

.bar0 {
  fill: $color2;
  shape-rendering: crispEdges;
}

.bar1 {
  fill: $color3;
  shape-rendering: crispEdges;
}

.color-boxes {
  padding: 5px;
}

.color0-box {
  height: 13px;
  width: 60px;
  display: inline-block;
  background-color: $color2;
}

.color1-box {
  height: 13px;
  width: 60px;
  display: inline-block;
  background-color: $color3;
}

.legend-box {
  margin: 5px;
}

.clickable-bar:hover {
  fill: $color8;
}

.axis > g > text {
  font-size: 13px;
}

.y-axis path,
.y-axis line {
  fill: none;
  display: none;
}

.graph-label {
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  stroke: $color9;
  stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: $color2;
  stroke-width: 3.5px;
}

.dot {
  stroke: $color9;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 125px;
  height: 50px;
  padding: 4px;
  font: 16px sans-serif;
  color: $color0;
  font-weight: 500;
  background: $color8;
  border: 0;
  border-radius: 4px;
  pointer-events: none;
}

.grid .tick {
  stroke: $color5;
  opacity: 0.7;
}

.download-button .btn {
  background-color: $color5;
  border: none;
  color: $color1;
  padding: 6px 8px;
  font-family: $font-family;
  font-size: 13px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Darker background on mouse-over */
.download-button .btn:hover {
  background-color: $color8;
  color: $color0;
}

 /* Is this one used?
.glyphicon.glyphicon-print {
  font-size: 30px;
}
 */





@media print {
  a[href]:after {
    content: none !important;
  }
  .left-menu, .download-button, .title, .print-icon, .provider-div-report, .sf-toolbar, footer {
    display: none !important;
  }
  .print-provider, .print-title {
    display: block !important;
  }
  @page {
    size: auto;   /* auto is the initial value */
    margin: 40px;  /* this affects the margin in the printer settings */
  }
  #graphs {
    transform: translateX(-340px);
    border: none;
  }
  .graph {
    border: solid 1px $color5;
  }
}
