
// Colors available
$color0: #ffffff; // White
$color1: #000000; // Black
$color2: #00bce4; // Blue (logo)
$color3: #087d93; // Dark blue
$color4: #fafafa; // Lightest grey
$color5: #e4e4e4; // Lighter grey
$color6: #cccccc; // Grey
$color7: #adadad; // Darker grey
$color8: #5f585d; // Darkest grey (logo)
$color9: #333333; // Text color

// Font-family
$font-family: "Gotham", Helvetica, Arial, sans-serif;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

@import '~bootstrap/dist/css/bootstrap.css';

html {
  position: relative;
  min-height: 100%;
  overflow: scroll;
}

body {
  font-family: $font-family;
  background-color: $color0;
  color: $color9;
}

a {
  color: $color3;
}

a:hover,
a:focus,
a:active {
  color: $color9;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

h3 {
  font-size: 25px;
}

h3, h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
}

.content::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
    margin-top: 4em;
    padding: 0;

    .row {
      width: 100% !important;
      margin-left: 0px;
      margin-right: 0px;
    }

    .logos {
        border-top: 1px solid #eee;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0;

        li {
            float: left;
            margin: 2em;
            @media screen and (max-width: 561px) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        img {
            height: 80px;
            @media screen and (max-width: 1199px) {
                height: 60px;
            }
            @media screen and (max-width: 991px) {
                height: 40px;
            }
            @media screen and (max-width: 417px) {
                height: 80px;
            }
            @media screen and (max-width: 340px) {
                height: 60px;
            }
            @media screen and (max-width: 270px) {
                height: 40px;
            }
            @media screen and (max-width: 220px) {
                height: 20px;
            }
        }
    }

    .carousel-inner {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
    }

    .carousel-inner > .item {
        @media screen and (min-width: 417px) {
            display: block;
        }
    }

    .row2 .logos {
        border-bottom: 1px solid #eee;
    }

    .menu {
        display: table;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        margin-top: 2em;
        margin-bottom: 2em;

        li {
            display: inline;
            margin-left: 2em;
            margin-right: 2em;
            @media screen and (max-width: 340px) {
                display: block;
                text-align: center;
            }
           
            a {
                color: $color8;
            }
        }
    }

    .buttons {
        display: none;
        @media screen and (max-width: 417px) {
            display: block;
        }
    }

    #prevButton, #nextButton {
        color: $color8;
    }
}

#prevButton, #nextButton {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    background-color: transparent;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

.carouselButton {
    position: absolute;
    background-color: transparent;
    border:none;
    font-size:20px;
}

.carouselButton:hover {
    background-color: transparent;
    color: $color2 !important;
}

.carouselButton:focus{
    outline: none;
}

.carouselButton:active{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}

.navbar {
  margin-bottom: 0;
  border-style: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-collapse {
  margin-top: 5px;
}

.navbar-default {
  background: $color2;
}

.navbar-default .navbar-nav > li a {
  color: $color0;
  font-size: 1.25em;
}

.navbar-default .navbar-nav > li.active a {
  color: $color8;
  background-color: transparent;
}

.navbar-default .navbar-nav > li.active a:hover {
  color: $color8;
  background-color: transparent;
}

.navbar-default .navbar-nav > li a:hover,
.navbar-default .navbar-nav > li div a:hover {
  color: $color8;
}

.navbar-default .navbar-nav > li div {
  margin-left: 10px;
}

.navbar-default .navbar-nav > li div a {
  margin-left: 5px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li div {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.navbar-default .navbar-nav > li div a.active {
  color: $color8;
  text-decoration: underline;
}

.navbar-default .navbar-brand {
  padding: 0;
  width: 150px;
  height: 50px;
  background: url(../dashboard.png) no-repeat;
  background-size: auto 40px;
  background-position: left center; 
}

.navbar-toggle {
  margin-right: 0;
}

h1 {
  font-size: 63px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.provider-div-home {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color5;
  border-radius: 4px;
}

.provider-div-home .select-provider {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-default {
  color: $color9;
  border-color: $color6;
}

.select-provider > ul {
  width: 100%;
}

#dropdownMenuButton {
  width: 100%;
  text-align:left;
  background: $color0;
}

#dropdownMenuButton:hover {
  background: $color0;
}

#dropdownMenuButton:active {
  background: $color0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

#main-container {
  font-size: 16px;
  max-width: 1180px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.provider-div-report {
  background-color: $color5;
}

.provider-div-report .select-provider {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1195px) {
  .provider-div-report .select-provider {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.dropdown-toggle:focus,
.parameter:focus,
.question:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dashboard-home {

  .row0 {
    padding-bottom: 50px;
  }

  .row {
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
  }

  .col-sm-12 {
    padding: 0px;
  }

  .fa.icon.featured {
    color: $color8;
    opacity: 0.5;
    float: left;
    display: block;
    font-size: 4em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
  }

  .fa.icon.featured.fa-database {
    padding-left: 13.72px;
  }

  .fa.icon.featured.fa-code-fork {
    padding-left: 32px;
  }

  h3 {
    margin-top: 0;
  }

  .col-sm-12 h3,
  .col-sm-12 p {
    margin-left: 90px;
  }

  .col1 {
    padding-right: 10px;
  }

  .col2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .col3 {
    padding-left: 10px;
  }

  #row1 {
    overflow: auto;
  }

  @media screen and (max-width: 1199px) {

    .fa.icon.featured {
      font-size: 3em;
    }

    .col-sm-12 h3,
    .col-sm-12 p {
      margin-left: 70px !important;
    }

    .fa.icon.featured.fa-database {
      padding-left: 10.28px;
    }

    .fa.icon.featured.fa-code-fork {
      padding-left: 24px;
    }

  }

  @media screen and (max-width: 991px) {

    .fa.icon.featured {
      font-size: 2em;
    }

    .col-sm-12 h3,
    .col-sm-12 p {
      margin-left: 50px !important;
    }

    .fa.icon.featured.fa-database,
    .fa.icon.featured.fa-code-fork {
      padding-left: 0px;
    }

    .col1,
    .col2 {
      padding-left: 0px;
      padding-left: 0px;
      padding-bottom: 20px;
    }

    .col3 {
      padding: 0px;
    }

  }

}

.print-provider {
  display: none;
}

.left-menu {
  float: left;
  width: 320px;
  margin-right: 20px;
}

.btn-group-vertical {
  width: 320px;
}

.left-menu-level-one {
  font-size: 20px;
  margin-top: 20px;
}

.not-rounded {
  border-radius: 0 !important;
  width: 100%;
  text-align: left;
  margin-bottom: -1px;
}

.parameter, .parameter:focus {
  background-color: $color5;
  border-color: $color7;
}

.question {
  background-color: $color0;
  color: $color1;
  border-color: $color7;
}

.question-active {
  background-color: $color8;
  color: $color0;
  border-color: $color7;
}

.parameter:hover, .question:hover {
  background-color: $color2;
  color: $color0;
  border-color: $color7;
}

.left-menu > button:hover {
  background-color: $color5;
}

.collapsed-buttons {
  width: 100%;
}

.collapsed-button {
  padding-left: 30px;
}

.caret {
  float: right;
  right: 6px;
  margin-top: 8px;
}

.left-menu button[aria-expanded='false'] > .caret {
  transform: rotate(-90deg);
}

#graphs {
  float: right;
  max-width: 800px;
  border: solid 1px $color5;
  background-color: $color0;
}

.graph {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: $color4;
}

.graph-div {
  line-height: 0;
  width: 758px;
}

.graph p {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.title-div {
  position: relative;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.print-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
}

.bar0 {
  fill: $color2;
}

.bar1 {
  fill: $color3;
}

.color-boxes {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.color-boxes div {
  font-size: 13px;
  vertical-align: middle;
}

.color0-box {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: $color2;
}

.color1-box {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: $color3;
  margin-bottom: 3px;
}

.legend-box {
  margin: 5px;
}

.clickable-bar:hover {
  fill: $color8;
  cursor: pointer;
}

.clickable-graph-label {
  cursor: pointer;
}

.axis > g > text {
  font-size: 13px;
}

.y-axis path,
.y-axis line {
  fill: none;
  display: none;
}

.graph-value {
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  stroke: $color9;
  stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: $color9;
  stroke-width: 3.5px;
}

circle {
  fill: $color9;
}

circle:hover {
  fill: $color2;
}

.dashedLine {
  stroke: $color8;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 125px;
  height: 50px;
  padding: 4px;
  font: 16px sans-serif;
  color: $color0;
  font-weight: 500;
  background: $color8;
  border: 0;
  border-radius: 4px;
  pointer-events: none;
}

.grid .tick {
  stroke: $color5;
  opacity: 0.7;
}

.download-button .btn {
  background-color: $color5;
  border: none;
  color: $color9;
  padding: 6px 8px;
  font-family: $font-family;
  font-size: 13px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Darker background on mouse-over */
.download-button .btn:hover {
  background-color: $color8;
  color: $color0;
}

 /* Is this one used?
.glyphicon.glyphicon-print {
  font-size: 30px;
}
 */

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }

  #main-container .dropdown-toggle {
    display: none;
  }

  .left-menu {
    display: block !important;
  }
}

@media screen and (max-width: 1199px) {
  #main-container .dropdown-toggle {
    max-width: 1199px;
    background-color: $color5;
    border: none;
    color: $color9;
    padding: 6px 8px;
    font-family: $font-family;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }

  .left-menu {
    width: auto;
    max-width: 1199px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #graphs {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 1199px;
  }

  .graph-div {
    width: auto !important;
    max-width: 1199px;
  }
}



@media print {
  body, .content, .print-provider, .container, #graphs, .graph, .description {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    margin-top: 0 !important;
  }
  a[href]:after {
    content: none !important;
  }
  .left-menu, .dropdown-toggle, .download-button, .print-icon, .provider-div-report, .sf-toolbar, #footer {
    display: none !important;
  }
  .print-provider {
    display: block !important;
  }
  @page {
    size: auto;   /* auto is the initial value */
    margin: 40px;  /* this affects the margin in the printer settings */
  }
  #graphs {
    zoom: 94%;
    border: none;
  }
  .graph {
    border: solid 1px $color5;
  }
}
