<div class="csv-icon">
    <a href="{{ route ~ "&category=" ~ active_category ~ "&menu=" ~ active_menu ~ "&question=" ~ active_question ~ "&chart=" ~ report.template }}">
        <img src="csv_icon.png" alt="Download CSV">
    </a>
</div>
