{% extends "base.html.twig" %}

{% block body %}
    <h1>Dashboard</h1>
    <div class="center-block provider-div-home">
        <div class="dropdown select-provider">
            <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ provider }}<span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for provider in providers %}
                    <li><a class="dropdown-item" href="/report?provider={{ provider|url_encode|replace({'%20': '+'}) }}">{{  provider }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="main-container">
        <p>Korte uitleg over Dashboard</p>
    </div>
{% endblock %}
