{% extends "base.html.twig" %}

{% block body %}
    {% include 'providers.html.twig' %}
    <div id="main-container">
        {% include 'menu_left.html.twig' %}
        <div id="graphs">
            <script src="{{ asset('d3.v3.min.js') }}"></script>
            <p class="title">{{ active_question }}</p>
            {% for report in reports %}
                <div class="graph">
                    {% include report.template with {'report': report} only %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
