{% extends "base.html.twig" %}

{% block body %}
    {% include 'providers.html.twig' %}
    <div id="main-container">
        {% include 'menu_left.html.twig' %}
        <div id="graphs">
            <script src="{{ asset('d3.v3.min.js') }}"></script>
            <p class="provider-print">{{ provider }}</p>
            <div class="title-div">
                <p class="title-print">{{ active_aspect ~ ' - ' ~ active_parameter ~ ' - ' ~ active_question }}</p>
                <p class="title">{{ active_question }}</p>
                <div class="print-icon">
                    <a href=""><img src="print_icon.png" alt="Print" onClick="window.print()" ></a>
                </div>
            </div>
            {% for report in reports %}
                <div class="graph">
                    {% include report.template with {'route': download, 'active_aspect': active_aspect, 'active_parameter': active_parameter, 'active_question': active_question, 'report': report} only %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
